@font-face {
	font-family: minecraft;
	src: url(../img/mc.ttf);
}
body{
	background: url(../img/wall3.jpg);
	background-size: cover;
}
* {
	padding: 0; 
	margin: 0; 
}
canvas {
	border: 5px solid black;
	background: #1a277a;
	display: block;
	margin: 20px auto;
}
#navodila{
	width: 500px;
	height: 150px;
	margin: 20px auto;
	background: rgb(255,255,255,0.6);
	text-align: center;
	font-size: 30px;
	line-height: 50px;
}